header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #778beb;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}           

h1{
    font-family: 'Press Start 2P', sans-serif;
    color: #FFF;
    text-shadow: 5px 5px 0px #000;
}

nav{
    text-align: right;
  
}
/*tag que pode alinhar de maneira mais facil*/
a { 
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a:before{
    content: "";
    background-color: #e77f67;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button{
    display: inline-block;
    background-color: #e77f67;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 2s linear;
}

#button:hover{
    transform: scale(1.08);
}

.box-name{
    background-color: #778beb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    width: 527px;
    text-align: center;
    box-shadow: 10px 10px 0px #000;
}

/*usar # quando for uma id*/

