.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #778beb;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}   

.main-header .navigation {
    text-align: right;
}

/*tag que pode alinhar de maneira mais facil*/