.main-button {
    display: inline-block;
    background-color: #e77f67;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 2s linear;
    text-decoration: none;
    color: white;
    font-family: 'Fira Code' , sans-serif; 
    cursor: pointer;
}

.main-button:hover {
    transform: scale(1.08);
}
/*sempre utilizar . com class*/

.main-button.-full {
    width: 100%;
}

.main-button.-full {
   transform: scale(1.02); 
}